body {
    font-family: sans-serif;
}

.main_block {
    margin-left: 40%;
    margin-right: 10%;
}

h1 {
    margin-left: 10%;
}

.predicted, form {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin-bottom: 2%;
    background-color: bisque;
    border-radius: 2px;
    padding: 1%;
}

.predicted ul li {
    margin-bottom: 20%;
}